@model ST10134934_CLDV6211_Part_Two.Models.Kuser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kuser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KuserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KuserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KuserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KuserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KuserType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KuserType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KuserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
